{% import 'macros.html' as macros with context %}

<!doctype html>
<html lang="en">
    <head>
        <link href="{{ url_for('static', filename='images/favicon.ico') }}" rel="shortcut icon">
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport">
        <title>{{ title }}</title>
        {% assets "stylesheets" %}
            <link href="{{ ASSET_URL }}" rel="stylesheet" type="text/css">
        {% endassets %}
    </head>
    <body>
        <div class="container">
            {% block component %}
            {% endblock %}
        </div>
        {% assets "javascripts" %}
            <script src="{{ ASSET_URL }}" type="text/javascript"></script>
        {% endassets %}
    </body>
</html>
