{% extends 'administrators/layout.html' %}

{% set navbar = 'customers' %}
{% set title = 'Customers - Overview' %}

{% block component %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    {{ title }}
                </h1>
            </div>
            {% if customers %}
                {{ macros.pagination({'name': 'administrators.customers_process', 'options': {}}, pager) }}
                <table class="table table-hover table-striped">
                    <tr>
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.customers_process',
                                    'options': {},
                                },
                                order_by,
                                'ID',
                                'ID',
                                'narrow text-right'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.customers_process',
                                    'options': {},
                                },
                                order_by,
                                'display_name',
                                'Name',
                                ''
                            )
                        }}
                        <th class="narrow text-right">Orders</th>
                        <th class="narrow text-right">Money Spent</th>
                        <th class="narrow text-center">Status</th>
                    </tr>
                    {% for customer in customers %}
                        <tr>
                            <td class="narrow text-right">{{ customer.ID }}</td>
                            <td>
                                <a href="mailto:{{ customer.user_email }}" target="_blank">{{ customer.display_name }}</a>
                            </td>
                            <td class="narrow text-right">{{ customer.orders.count()|format_integer }}</td>
                            <td class="narrow text-right">{{ customer.get_amount()|format_float }}</td>
                            <td class="narrow text-center">
                                {% if customer.user_status == 1 %}
                                    <a
                                        class="btn btn-xs btn-success"
                                        href="{{ url_for('administrators.customers_status', id=customer.ID) }}"
                                        >
                                        <i class="icon-plus-sign"></i>
                                        On
                                    </a>
                                {% endif %}
                                {% if customer.user_status == 0 %}
                                    <a
                                        class="btn btn-xs btn-danger"
                                        href="{{ url_for('administrators.customers_status', id=customer.ID) }}"
                                        >
                                        <i class="icon-minus-sign"></i>
                                        Off
                                    </a>
                                {% endif %}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ macros.pagination({'name': 'administrators.customers_process', 'options': {}}, pager) }}
            {% else %}
                <div class="alert alert-danger">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    There are no customers in the database.
                </div>
            {% endif %}
            <hr>
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    Filters
                </h1>
            </div>
            <form action="{{ url_for('administrators.customers_process') }}" class="form-horizontal" method="post">
                {{ macros.form(form) }}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10">
                        <button class="btn btn-success" name="submit" type="submit" value="set">
                            <i class="fa fa-fw fa-dot-circle-o"></i>
                            Set
                        </button>
                        <button class="btn btn-danger" name="submit" type="submit" value="unset">
                            <i class="fa fa-fw fa-circle-o"></i>
                            Unset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
