{% extends 'administrators/layout.html' %}

{% set navbar = 'orders' %}
{% set title = 'Orders - Overview' %}

{% block component %}
    <div class="row">
        <div class="col-lg-12 col-md-12">
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    {{ title }}
                </h1>
            </div>
            {% if orders %}
                {{ macros.pagination({'name': 'administrators.orders_process', 'options': {}}, pager) }}
                <table class="table table-hover table-striped">
                    <tr>
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.id',
                                'ID',
                                'narrow text-right'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'customers.full_name',
                                'Customer',
                                ''
                            )
                        }}
                        <th class="narrow text-right">Items</th>
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.receipt',
                                'Receipt',
                                'narrow'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.type',
                                'Type',
                                'narrow'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.role',
                                'Role (Affiliate/Vendor)',
                                'narrow'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.payment_method',
                                'Payment Method',
                                'narrow'
                            )
                        }}
                        {{
                            macros.th(
                                {
                                    'name': 'administrators.orders_process',
                                    'options': {},
                                },
                                order_by,
                                'orders.amounts_order',
                                'Amount',
                                'narrow text-right'
                            )
                        }}
                    </tr>
                    {% for order in orders %}
                        <tr>
                            <td class="narrow text-right">{{ order.id }}</td>
                            <td>{{ order.customer.full_name }} ({{ order.customer.email }})</td>
                            <td class="narrow text-right">{{ order.orders_products.count()|format_integer }}</td>
                            <td class="narrow">{{ order.receipt }}</td>
                            <td class="narrow">{{ order.type }}</td>
                            <td class="narrow">{{ order.role }} ( {{ order.get_role() }})</td>
                            <td class="narrow">{{ order.payment_method }}</td>
                            <td class="narrow text-center">
                                {{ order.amounts_order|format_float }} {{ order.currency }}
                            </td>
                        </tr>
                    {% endfor %}
                </table>
                {{ macros.pagination({'name': 'administrators.orders_process', 'options': {}}, pager) }}
            {% else %}
                <div class="alert alert-danger">
                    <i class="fa fa-fw fa-exclamation-triangle"></i>
                    There are no orders in the database.
                </div>
            {% endif %}
            <hr>
            <div class="page-header">
                <h1>
                    <i class="fa fa-fw fa-map-marker"></i>
                    Filters
                </h1>
            </div>
            <form action="{{ url_for('administrators.orders_process') }}" class="form-horizontal" method="post">
                {{ macros.form(form) }}
                <div class="form-group">
                    <div class="col-lg-offset-2 col-lg-10 col-md-offset-2 col-md-10">
                        <button class="btn btn-success" name="submit" type="submit" value="set">
                            <i class="fa fa-fw fa-dot-circle-o"></i>
                            Set
                        </button>
                        <button class="btn btn-danger" name="submit" type="submit" value="unset">
                            <i class="fa fa-fw fa-circle-o"></i>
                            Unset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
